@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
  }

  .dark {
  }
}
:root {
  --color-bg: #1f1f38;
  --color-bg2: #2c2c6c;
  --color-primary: #4db5ff;
  --color-white: #fff;
  --color-light: rgba(255, 255, 255, 0.6);
  --color-sky-light: #00d1b2;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  list-style: none;
}
body {
  background-color: var(--color-bg);
  color: var(--color-white);
  line-height: 1.7;
  background-repeat: no-repeat;
}

html {
  scroll-behavior: smooth;
}

.btnNav {
  position: relative;
}
.btnNav::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  transition: 0.3s linear;
  background-color: var(--color-white);
}

.btnNav:hover::after {
  width: 100%;
  background-color: var(--color-primary);
}

body::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: var(--color-primary); /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: var(--color-bg2); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid var(--color-sky-lightor-); /* creates padding around scroll thumb */
}

.stacks::-webkit-scrollbar {
  height: 10px;
}

.stacks::-webkit-scrollbar-track {
  background: var(--color-primary);
}
.stacks::-webkit-scrollbar-thumb {
  background-color: var(--color-bg2);
  border-radius: 20px;
  border: 3px solid var(--color-sky-lightor-);
}

.iconsContact {
  cursor: pointer;
}

.iconsContact::before {
  content: "";
  position: absolute;
  background-color: var(--color-sky-light);
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.7;
  border-radius: 50%;
}
.iconsContact:hover::before {
  animation: clickIcon 1.5s ease-in-out infinite;
}

@keyframes clickIcon {
  100% {
    transform: scale(1.6);
    opacity: 0;
  }
}

/* css imag background */
@media (min-width: 1300px) {
  .img-bg {
    background-image: url("../../assets/imgbg.png");
    background-repeat: no-repeat;
    background-position: right;
    object-fit: cover;
    background-attachment: fixed;
    background-size: 520px;
  }
}
@media (min-width: 1600px) {
  .img-bg {
    transition: 0.3s linear;
    background-size: 800px;
  }
}
