@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
  }

  .dark {
  }
}
:root {
  --color-bg: #1f1f38;
  --color-bg2: #2c2c6c;
  --color-primary: #4db5ff;
  --color-white: #fff;
  --color-light: rgba(255, 255, 255, 0.6);
  --color-sky-light: #00d1b2;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  list-style: none;
}
body {
  background-color: var(--color-bg);
  color: var(--color-white);
  line-height: 1.7;
  background-repeat: no-repeat;
}

.iconsContact {
  cursor: pointer;
}

.iconsContact::before {
  content: "";
  position: absolute;
  background-color: var(--color-sky-light);
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.7;
  border-radius: 50%;
}
.iconsContact:hover::before {
  animation: clickIcon 1.5s ease-in-out infinite;
}

@keyframes clickIcon {
  100% {
    transform: scale(1.6);
    opacity: 0;
  }
}

/* css imag background */
@media (min-width: 1300px) {
  .img-bg {
    background-image: url("../../assets/imgbg.png");
    background-repeat: no-repeat;
    background-position: right;
    object-fit: cover;
    background-attachment: fixed;
    background-size: 520px;
  }
}
@media (min-width: 1600px) {
  .img-bg {
    transition: 0.3s linear;
    background-size: 800px;
  }
}
